name: backup to gitlab
on:
  workflow_call:
    secrets:
      BRIDGETOKEN:
        required: true

jobs:
  backup-to-gitlab:
    if: false
    name: backup-to-gitlab
    runs-on: ubuntu-latest
    steps:
      - name: skip
        run: |
          echo "skip"
